.Dragging {
  opacity: 0.5;
  border: 2px dashed rgba(0, 0, 0, 1);
  cursor: grabbing;
  background-color: rgba(0, 0, 0, 0.1);
}

/* Dark mode support  */
@media (prefers-color-scheme: dark) {
  .Dragging {
    border-color: rgba(255, 255, 255, 1);
    background-color: rgba(255, 255, 255, 0.1);
  }
}